<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
        {{>navbar}};
     <!-- Main Header -->

     <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- right side div -->

                     <div class="col-md-12 col-12 main_header_left2 align-items-center">
                        <figure class="errImg">
                            <img src="images/404.png" alt="singh" class="img-fluid" title="Jagjit Singh">
                        </figure>

                    <p>Sorry, Sorry, Sorry</p>
                    <h1>{{errormsg}}</h1>
                    <a href="/"><button>Go Back</button></a>

                    </div>
                    
                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
     </div> 
     
     {{>footer}}
</body>
</html>